# Visual Studio 2015/2017/2019 cache/options directory
.vs

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# NuGet Packages Directory
# Enable nuget packages restore when building
!packages/
packages/*
!packages/repositories.config
